page-search-address {
  .address-search {
    display: flex;

    .close-modal {
      padding-left: 8px;
      padding-right: 6px;
      margin: auto;
      white-space: nowrap;
      font-weight: 500;
    }
  }
}
